<html>
    <body>
        <% include header%>
        welcome to my contact
        <form method="post" action="contact-process">
            <input type="text" value="text1">
            <input type="text" value="text2">
            <input type="button" value="submit">

        </form>
    </body>
</html>